@model IEnumerable<WebForUsers.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome, @User.Identity.Name!</h1>

    <form method="post">
        <div class="form-group">
            <input type="submit" asp-action="Block" asp-controller="Home" class="btn btn-outline-dark" value="Block" />
            <input type="image" asp-action="Unblock" asp-controller="Home" class="btn btn-outline-dark" src="~/images/unblock.png" width="100">
            <input type="image" asp-action="Delete" asp-controller="Home" class="btn btn-outline-dark" src="~/images/delete.png" width="50" />
        </div>
        <table id="users" class="table table-sm table-striped table-hover border-bottom">
            <tr>
                <td><input type="checkbox" id="checkAll" name="checkAll" /></td>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Registration Date</td>
                <td>Authorization Date</td>
                <td>Status</td>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="ids" name="ids" value="@user.Id" />
                    </td>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Registration</td>
                    <td>@user.Authorization</td>
                    <td>@user.Status.Name</td>
                </tr>
            }
        </table>
    </form>
</div>